.sign__container{
  width: calc(100vw - 38px);
  max-width: 430px;
  min-height: 322px;
}

@media screen and (min-width: 1024px) {
  .popup__container_type_form{
      width: 430px;
      min-height: 330px;
  }  
}